body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  height: 100%;
}

header {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  text-align: center;
}

main {
  width: 80%;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#recipe-form-section,
#recipes-section {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #22c1c3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2b32b2;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  padding: 10px;
  border-radius: 5px;
}
